################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZarCare Automation/obj/*
/ZarCare Automation/bin/Debug/*
/ZarCare Automation/obj/Debug/net8.0/ZarCare Automation.csproj.AssemblyReference.cache
/ZarCare Automation/obj/ZarCare Automation.csproj.nuget.dgspec.json
/ZarCare Automation/obj/ZarCare Automation.csproj.nuget.g.props
